@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: white;
  --background: black;  
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

body{
  background-color: var(--light);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
  background: transparent;
}